/*

Add styles or override variables from the theme here.

*/

$primary: #222;
$secondary: #39ff14;

$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

.btn-secondary {
    color: $primary !important;
}