<div>
    <h3>Subscribe Now!</h3>
    <a href="https://podcasts.apple.com/us/podcast/zero-bytes-given/id1655752886">
        <i class="fa-brands fa-apple"></i></a>
    <a href="https://www.audible.com/pd/Zero-Bytes-Given-Podcast/B0BMYKSY6G">
        <i class="fa-brands fa-audible"></i>
    </a>
    <a href="https://www.amazon.com/Zero-Bytes-Given/dp/B0BMYN93YH">
        <i class="fa-brands fa-amazon"></i>
    </a>
    <a href="https://open.spotify.com/show/5kzFffQLWOcgjKm36hWlKe">
        <i class="fa-brands fa-spotify"></i>
    </a>
</div>