<div>
    <div class="text-center" style="margin:10px;">
        <h5>Subscribe Now!</h5>
        <p style="font-size:3rem;margin:10px;">
            <a href="https://podcasts.apple.com/us/podcast/zero-bytes-given/id1655752886">
                <i class="fab fa-apple"></i>
            </a><br />
            <a href="https://www.audible.com/pd/Zero-Bytes-Given-Podcast/B0BMYKSY6G">
                <i class="fab fa-audible"></i>
            </a><br />
            <a href="https://www.amazon.com/Zero-Bytes-Given/dp/B0BMYN93YH">
                <i class="fab fa-amazon"></i>
            </a><br />
            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9jYzk0NjFiMC9wb2RjYXN0L3Jzcw">
                <i class="fab fa-google"></i>
            </a><br />
            <a href="https://open.spotify.com/show/5kzFffQLWOcgjKm36hWlKe">
                <i class="fab fa-spotify"></i>
            </a><br />
        </p>
    </div>
</div>