+++
title = "Zero Bytes Given"
linkTitle = "Zero Bytes Given"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="primary" >}}
	<div class="mx-auto">
		<div class="row justify-content-center">
			<p class="col-lg-8 lead mt-4">
				Join Eddie Knight for fast paced, high energy interviews with
				tech leaders from the most impactful organizations in the world.
			</p>
		</div>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/getting-started">
		Episodes<i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
    </div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2>Welcome to Season One.</h2>
<p>Episodes 1 through 5 will be released in November and December 2022,
	laying a powerful foundation for the next season to begin after the holidays! 
</p>
<iframe src="https://open.spotify.com/embed/episode/1xrd8qcLE8MLMoCDCX5Zx4?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Sponsored by Sonatype" url="https://www.sonatype.com/" %}}
Season One of Zero Bytes Given is sponsored by Sonatype,
the original Software Supply Chain Security company.

[ LOGO HERE ]

Visit their website to learn more about how Sonatype provides
enterprise level solutions to stay ahead of the curve, regardless
of what the next winter vulnerability may be.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contact Us!" url="https://github.com/zero-bytes-given/site/issues/new" %}}
The easiest way to provide feedback, suggestions, or requests is to create an "issue"
on our Zero Bytes Given repository. 

Pull requests to help improve this website are also welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us!" url="https://twitter.com/the_eddieknight" %}}
Follow Eddie on Twitter for the latest updates and Podcast announcements!
{{% /blocks/feature %}}


{{< /blocks/section >}}

