+++
title = "Zero Bytes Given"
linkTitle = "Zero Bytes Given"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="primary" >}}
	<div class="mx-auto">
		<div class="row justify-content-center">
			<p class="col-lg-8 lead mt-4">
				Join Eddie Knight for fast paced, high energy interviews with
				tech leaders from the most impactful organizations in the world.
			</p>
		</div>
		<br />
		<iframe src="https://open.spotify.com/embed/show/5kzFffQLWOcgjKm36hWlKe?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
	</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2>Welcome to Season One.</h2>
<hr/>
<div class="row justify-content-center">
<p class="col-lg-8">Episodes 1 to 5 will be released in November & December 2022,
	laying a powerful foundation for the next season to begin after the holidays! 
</p>
</div>
<br/>
<iframe src="https://open.spotify.com/embed/episode/1xrd8qcLE8MLMoCDCX5Zx4?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<hr/>
<a class="btn btn-lg btn-secondary mr-3 mb-4" href="episodes">
	Go to Season One<i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us!" url="https://twitter.com/the_eddieknight" %}}
<p class="text-md-left">Follow Eddie Knight on Twitter for the latest updates and Podcast announcements!</p>
<p><a rel="me" href="https://hachyderm.io/@eddieknight"><i class="fab fa-mastodon" style="font-size:3rem;"></i></a></p>
<p class="text-md-left">If you're up with the times, chat with Eddie on Mastodon</p>
{{% /blocks/feature %}}

{{% blocks/feature image="/images/sonatype.png" title="Sponsored by" url="https://www.sonatype.com/" %}}
<p class="text-md-left">Season One of Zero Bytes Given is sponsored by Sonatype,
the original Software Supply Chain Security company.</p>
<p class="text-md-left">Visit to learn more about how Sonatype provides
enterprise-level solutions to stay ahead of the curve, regardless
of what the next winter vulnerability may be.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contact Us!" url="https://github.com/zero-bytes-given/site/issues/new" %}}
<p class="text-md-left">The easiest way to provide feedback, suggestions, or requests is to create an "issue"
on our Zero Bytes Given repository.</p>
<p class="text-md-left">Pull requests to help improve this website are also welcome!</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}

